*{
margin: 0px;
padding: 0px; 
}

/* ALINHAMENTO "CENTER BOX" */
.mainbox{ 
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #152C11;
} 

p{
    color: #A4FC52;
}


h1{
    color: #A4FC52;
}

